*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
button{
  font-family: 'Poppins', sans-serif;
}
header{
  display: flex;
  width: 80%;
  height: 10vh;
  margin: auto;
  align-items: center;
}
.logo-container{
  display: flex;
  flex: 1;
}
.logo{
  font-weight: 400;
  margin: 5px;
  color: #5f5f79;
  text-decoration: none;
}
.logo h4{
  font-weight: 400;
}
nav{
  flex: 2;
}
.nav-links{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-link{
  text-decoration: none;
  color: #5f5f79;
}
.active{
  font-weight: 600;
}
.cart{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.big-circle{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
  height: 80vh;
  z-index: -1;
}
.medium-circle{
  position: absolute;
  top: 40%;
  left: 8%;
  opacity: 0.4;
  z-index: -1;
  height: 50vh;
}



.new-product .text-content{
  text-align: center;
  margin: 40px auto 0;
  padding: 0 10px;
}
.new{
  color: rgb(255, 19, 19);
  font-weight: 500;
}
.title{
  font-size: 25px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-name{
  font-size: 40px;
  font-weight: 600;
  padding: 0 10px;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price{
  font-size: 16px;
  color: rgb(129, 122, 151);
  margin: 10px 0;
}
button{
  border: 2px solid #c36cbb;
  color: #fff;
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  transition: .3s all ease-in-out;
}
button:hover{
  background: transparent;
  color: #c36cbb;
}

.new-product .img-container{
  text-align: center;
  height: 60vh;
  margin: 20px 0;
}
.new-product img{
  height: 100%;
  filter: drop-shadow(0 5px 3px);
}



.item-title{
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  color: #494964;
}
.student{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 70vh;
  margin: 100px auto 30px;
  background: rgb(255, 232, 253)
}

.student .img-container{
  height: 60vh;
}
.student .text-content{
  width: 350px;
  padding: 0 20px;
}
.student img{
  height: 100%;
  filter: drop-shadow(0 3px 3px);
}
.link{
  margin: 20px 0;
}
.link a{
  text-decoration: none;
  color: rgb(31, 111, 216);
}
.link a:hover{
  text-decoration: underline;
}


.acc-card{
  display: flex;
  margin: auto;
  text-align: center;
  width: 80%;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}
.acc-card .img-container{
  height: 35vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.acc-card img{
  height: 100%;
}
.acc, .card{
  width: 49%;
  height: 100%;
  background: #eeeef8;
  position: relative;
}
.acc-card img{
  height: 100%;
  filter: drop-shadow(0 2px 3px);
}
.acc-card .text-content{
  margin-top: 50px;
}
.acc-card .item-title{
  padding: 0 20px;
}
.card .intro{
  padding: 20px 30px;
}
.acc-card button{
  margin-top: 20px;
}


.font{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  text-align: center;
}
.font .item-container{
  width: 32%;
  padding: 30px 10px;
}
.font i{
  font-size: 40px;
  color: #494964;
  margin: 20px 0;
}
.text-title{
  font-size: 18px;
  font-weight: 600;
}
.font .intro{
  font-size: 20px;
  color: #494964;
}
.font .link{
  font-size: 20px;
}


.education-business{
  margin: auto;
  width: 80%;
}
.education-business .img-container{
  height: 60vh;
  width: 100%;
  margin: auto;
}
.education-business img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.education, .business{
  position: relative;
  margin: 30px 0;
  text-align: center;
}
.education-business .text-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.education-business .item-title{
  color: #fff;
  margin: 10px 0;
}
.education-business .intro{
  color: rgb(238, 238, 238);
  width: 350px;
}
.education-business .link a{
  font-size: 18px;
  font-weight: 500;
  color: rgb(78, 146, 241);
}
.education-business .img-container::after{
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.6);
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


@media screen and (max-width:1400px){
  .big-circle{
    display: none;
  }
  .medium-circle{
    top: 35%;
    left: -20%;
  }

  .new-product .img-container{
    height: 35vh;
  }

  .student{
    flex-direction: column;
    height: 60vh;
  }
  .student .img-container{
    height: 35vh;
  }
  .student .text-content{
    width: 600px;
    padding: 0 20px;
    text-align: center;
  }


  .acc-card{
    flex-direction: column;
    height: auto;
  }
  .acc, .card{
    width: 100%;
    height: 50vh;
    margin: 10px 0;
  }
  .acc-card .img-container{
    height: 25vh;
  }

  .font{
    flex-direction: column;
  }
  .font .item-container{
    width: 100%;
  }
  .font .intro{
    width: 500px;
    margin: auto;
  }

  .education-business .img-container, .education-business .img-container::after{
    height: 45vh;
  }
}

@media screen and (max-width:1024px){
  .new-product{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width:768px){
  .item-title{
    font-size: 32px;
  }
  .student .text-content{
    width: 90%;
  }
}

@media screen and (max-width:640px){
  .new-product .img-container{
    height: 30vh;
  }
  .item-title{
    font-size: 24px;
  }
  .student .item-title{
    margin-top: 30px;
  }
  .student .img-container{
    height: 30vh;
  }
  .student, .acc-card, .font, .education-business {
    width: 90%;
  }
  .acc, .card{
    height: 62vh;
  }
  .card .link{
    margin: 0;
  }
  .font .intro{
    width: 280px;
  }
  .education, .business{
    margin: 10px 0;
  }
  .education-business .intro{
    width: 270px;
  }
  .education-business .img-container, .education-business .img-container::after{
    height: 55vh;
  }
  .education-business .link a{
    font-size: 16px;
  }
}

@media screen and (max-width:520px){
  .new-product .img-container{
    height: 25vh;
  }
}